<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Diango Girls blog</title>
</head>
<body>
<div>
    <h1><a href="">Django Girls blog</a></h1>
</div>

<div>
    <p>published: 11.05.2018, 3:46</p>
    <h2><a href="">My first post</a></h2>
    <p>Aenean eu leo quam. Pellentesque ornare sem
        lacinia quam venenatis vestibulum. Donec id
        elit non mi porta gravida at eget metus.
        Fusce dapibus, tellus ac cursus commodo, tortor mauris
        condimentum nibh, ut fermentum massa justo sit amet risus.</p>
</div>

<div>
    <p>published: 11.05.2018,  4:23</p>
    <h2><a href="">My second post</a></h2>
    <p>Good job</p>
</div>
</body>
</html>